// General
$highlighted-color: #2753cc;
$icon-bg-primary-color: #f3f3f3;
$icon-bg-color: $icon-bg-primary-color;
$icon-bg-secondary-color: #e7ebf9;
$icon-border-color: #d2cfcf;
$bg-success: #e6f6f0;
$success-green: #09a770;
$primary-red: #d9052e;
$info-bg-color: #e7ebf9;
$blue-soft: #c3dafe;

// Backgrounds
$main-bg-color: #f9f9fb;

// Headings
$headings-body-color: #333;

// Buttons
$button-hover-opacity: 0.8;
$footer-buttons-padding: 10px 20px;
$primary-button-bg-color: $primary-red;

// Fonts
$body-font-size: 15px;

// Border
$border-grey: #d4d4d4;
$definite-departure-green: $success-green;

// Transitions
$slide-fade-leave-duration: 0s;
$slide-fade-enter-duration: 0.3s;

// Datepicker
$between-dates-bg-color: $icon-bg-secondary-color;
$day-size: 36px;
$datepicker-selected-bg-color: $highlighted-color;
$month-container-x-padding: 10px;

// Itinerary
$itinerary-icon-size: 30px;
